/*general*/

body {
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 700;
  color: black;

  margin: 0px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}



a{
  text-decoration: none;
  transition: all 0.2s;
  transform-origin: center;
  color: #183432;
}

a:hover{

}

a:active {
    background-color: hotpink;
}


h1{

}



h2{

}

h3 {

}

h4 {

}

h5 {

}
h6 {

}

/* end general */

/* header */

.headerNav{
  position: absolute;
  width: 100%;
  padding-top: 16px;
  z-index: 100;
}

.logobox{
  position: absolute;
  left: 100px;

  cursor: pointer;

  transition: 0.1s all linear;
}

.navbox{
  position: absolute;
  right: 100px;
  width: auto;
}

.navbox-home{
  right: 100px;
  width: 80px;
}

.nav-menu{
  margin-top: 4px;
  margin-left: 15px;

  width: auto;
  height: 50px;

  cursor: pointer;

  transition: 0.2s all;
}

.logobox:hover,.nav-menu:hover{
  opacity: .4;
  transform: translate(-2px,-2px);
}

.fixed{
  position: fixed;
}

/* end header */


/* polaroid */
.img-box{
  width: 12.5%;
  height: 200px;
  position: relative;
  float: left;
}
.img-hover{
  width: 100%;
  height: 100%;
  background-color: pink;

  transition: 0.3s;
}
.img-box:hover{
  z-index: 10;
}
.img-box:hover .img-hover{
  transform: scale(1.2);
  z-index: 10;
}

/* end-polaroid */

/* development */
.development-img{
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 33.33%;
  height: 100vh;
  transition: 1s;
}
/* end development */

.bodytext{
  position: relative;

  border-bottom: solid rgba(0,0,0,0.2) 2px;

  padding-bottom: 30px;
}


/*header*/


.logo1{
  position: absolute;
  width: auto;
  height: 110px;
}

.logoname{
  right: -0.5px;
}

.logospinning{

}



.headerNavbox{


}




.footers{
  text-align: right;
  position: fixed;
  left: 50%;
  margin-left: -150px;
  bottom: 0%;
  width: 300px;
  height: 30px;
  z-index: 10;
  font-size: 12px;
  color: gray;
}



/*end/*/

/*1stindex*/


.columnBox{
  width: 10px;
  height: 120px;
  position: relative;
}

.column0{
  position: relative;
  width: 300px;
  left: 50%;
  margin-left: -150px;
}

.column1{
  position: relative;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  margin-top: 30px;
}

#bio{
  /*background-color: #183432;*/
  /*color: white;*/
}

.columnBio{
  margin-top: -2px;
  padding-top: 40px;
  padding-bottom: 40px;



  /* width: 300px; */
}

#portfolio{

}

.canvas{
  position: relative;
  float: left;
  margin-top: 8vh;
}

.canvasblock{
  width: 100px;
  height: 30px;
}

.tvmode{
  position: relative;
  width: 300px;
  height: 200px;
  transition: all 0.2s;
  cursor: pointer;
  transform-origin: center;
  border-radius: 0.5%;
}



.tvblank{
  background-color: lightgray;
}

#thumbnail{
  width: 100%;
  height: auto;
  border-radius: 0.5%;

  transition: all 0.3s;
}


.section{
  position: relative;
  left: 50%;
  width: 300px;
  height: auto;
  margin-left: -150px;

  margin-bottom: 40px;
}

.intro{
  padding-bottom: 40px;
  border-bottom: solid rgba(0,0,0,0.2) 2px;
  margin-bottom: 40px;
}


.textbox0{
  margin-left: 6px;
}
.textbox1{

}

#pics{
  width: 300px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#mv1115{
  position: relative;
  width: 300px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#mv1120{
  position: relative;
  width: 300px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#mv1116{
  position: relative;
  width: 240px;
  height: auto;
  margin-top: 10px;
  margin-left: -120px;
  left: 50%;
  margin-bottom: 10px;
}
#mv1117{
  position: relative;
  width: 240px;
  height: auto;
  margin-top: 10px;
  margin-left: -120px;
  left: 50%;
  margin-bottom: 10px;
}

.column2{
  position: relative;
  width: 300px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.columns{
  position: relative;
  float: left;
}
.c1st{
}
.c2rd{
  margin-left: 10px;
}

#pics2L{
  width: 300px;
  height: auto;
  margin-bottom: 5px;
}

#pics2R{
  width: 300px;
  height: auto;

  margin-bottom: 5px;
}

#pics2C{
  width: 300px;
  height: auto;

  margin-bottom: 5px;
}

#pics2C2{
  width: 180px;
  height: auto;
  position: relative;
  left: 50%;
  margin-left: -90px;
  margin-bottom: 5px;
}

#pics2C3{
  width: 210px;
  height: auto;
  position: relative;
  left: 50%;
  margin-left: -105px;
  margin-bottom: 5px;
}

#picsMobile{
  width: 180px;
  height: auto;
  position: relative;
  left: 50%;
  margin-left: -90px;
  transition: 0.3s all;
  margin-top: 10px;
  margin-bottom: 20px;
}

#picsMobile:hover{
  transform: rotate(-2deg);
}

#picsMobile2{
  width: 180px;
  height: auto;
  position: relative;
  left: 50%;
  margin-left: -480px;
  transition: 0.3s all;
  margin-top: -10px;
}

#picsMobile2:hover{
  transform: rotate(-2deg);
}


#iframe1{
  position: relative;
  width: 900px;
  height: 700px;
  left: 50%;
  margin-left: -452px;
  transform: scale(.34);
  transform-origin: 450px 0px;
  margin-bottom: -450px;
}

#pics3{
  width: 150px;
  height: auto;
  margin-left: -4px;
  margin-bottom: -4px;
}

#textexppj2sp{
  margin-bottom: 20px;
}


@media screen and (min-width: 900px) {
  .headerNavbox{
    width: 630px;
    margin-left: -315px;
  }
  .footers{
    width: 630px;
    margin-left: -315px;
  }
  .column0{
    width: 630px;
    margin-left: -315px;
  }
  .column1{
    width: 630px;
    margin-left: -315px;
  }
  .column1Bio{
    width: 570px;
  }
  .tvmode{
    width: 630px;
    height: 420px;

  }
  #thumbnail{
    width: 630px;
    height: 420px;
  }

  .section{
    width: 630px;
    margin-left: -315px;
    margin-bottom: 60px;
  }

  #mv1115{
    width: 630px;
    height: auto;
  }

  #mv1120{
    width: 630px;
    height: auto;
  }

  #mv1117{
    width: 480px;
    margin-left: -240px;
  }

  #pics{
    width: 630px;

  }

  .column2{
    width: 630px;
  }

  #pics2L{
    width: 310px;
  }

  #pics2R{
    width: 310px;
    margin-left: 5px;
  }

  #pics2C{
    width: 630px;
  }

  #pics2C2{
    width: 240px;
    margin-left: -120px;
  }
  #pics2C3{
    width: 310px;
    margin-left: -155px;
  }

  #picsMobile{
    width: 270px;
    margin-left: -135px;
  }
  #picsMobile2{
    width: 270px;
    margin-left: -640px
  }
  #iframe1{
    transform: scale(.6);
    margin-left: -450px;
    margin-bottom: -280px;
  }
  #pics3{
    width: 210px;
  }


}
@media screen and (min-width: 1200px) {

  .footers{
    width: 990px;
    margin-left: -495px;
  }

  .column0{
    width: 990px;
    margin-left: -495px;
  }

  .column1{
    width: 990px;
    margin-left: -495px;
  }
  .tvmode{
    width: 480px;
    height: 320px;
    margin-left: 6px;
    margin-right: 6px;
  }
  #thumbnail{
    width: 480px;
    height: 320px;
    animation-play-state: paused;
  }
  #pics3{
    width: 210px;
  }
}

@media screen and (min-width: 1800px) {
  .footers{
    width: 1480px;
    margin-left: -740px;
  }
  .column0{
    width: 1480px;
    margin-left: -740px;
  }
  .column1{
    width: 1480px;
    margin-left: -740px;
  }


}


/*end1stindex*/


/*media*/

.buttons{
  text-align: center;
  border: 1px solid white;
  border-radius: 2%;
  position: relative;
  width: 60px;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  color: white;
  font-weight: 600;
  background-color: #ffd004;
  left: 50%;
  margin-left: -30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s all;
  font-size: 0.8em;
  transform-origin: 30px 20px;

  filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.2));
}

.buttons:hover{
  transform: rotate(-3deg);
  color: #183432;

}


.playbttn{
  cursor: pointer;

}
.psbttn{
  cursor: pointer;
  display: none;
}

#linkbtn{
  color: white;
}

#linkbtn:hover{
  color: #183432;
}


::-moz-selection { /* Code for Firefox */
    /* color: red; */
    background: rgba(92,202,232,1);
}

::selection {
    /* color: red; */
    background: rgba(92,202,232,1);
}

li{
  list-style-type: none;
}

#page{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;

  background: #00c8aa;
}

#page-2{
  position: relative;
  box-sizing: border-box;
  z-index: 10;

  background-color: white;

}

.home-section{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-color: rgba(92,202,232,1);
}

#bttn-project{
  text-decoration: underline;
  cursor: pointer;
}
#bttn-project:hover{
  background-color: rgba(92,202,232,1);
  color: black;
}

.section6{

}

.section7{
  padding-top: 20px;
  padding-bottom: 20px;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;


  display: table;
  content: " ";
}

.section-title{
  position: relative;
  text-align: left;
  padding-bottom: 20px;
  z-index: 20;
}

.section-title-more{
  color: rgba(12, 12, 23, 0.9);
  display: inline-block;
  position: relative;


  font-weight: 500;
  letter-spacing: .65em;
  margin-right: -0.65em;
  font-size: .8em;
}

.col-sm-6{
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
}

.col-sm-7{
  float: left;
  position: relative;
  min-height: 1px;
}

.full-screen{
  height: 100vh;
  width: 100%;
}


.parallax-hero{
  position: fixed;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-image{
  background-color: black;
  /* background-image: url(../imgs/bg2.jpg); */
}

.hs-content{
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;

  text-transform: uppercase;
  color: rgba(92,202,232,1);
}
.hs-content-inner{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  padding: 0 100px;

  z-index: 5;
  font-size: 6.2em;
}

.row:before{
  display: table;
  content: " ";
}

.section-text{
  margin-bottom: 10.5px;
  font-size: 16px;

  line-height: 1.7;
}
p{
  margin: 0 0 21px;
}

.home-section.overlay:before, .home-section .overlay:before {
    opacity: .7;
}

.home-section.overlay:before, .home-section .overlay:before {
    background-color: rgba(10, 12, 23, 0.7);
    opacity: .5;
}
.overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
:before,:after{
      box-sizing: border-box;
}

#about-section{
  background-color: rgba(92,202,232,1);
}

.footer-section{
  background: black;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
}

.footer-text{
  color: white;
  display: inline-block;
  padding-bottom: 12px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1em;
  margin-right: -0.23em;
  padding: 14px 0;

}



@media screen and (min-width: 900px) {
  .container{
    width: 750px;
  }
}
@media screen and (min-width: 1200px) {
  .container{
    width: 1053px;
  }

@media screen and (min-width: 1800px) {

}
