/*general*/

body {
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 700;
  margin: 0px;
}



a{
  text-decoration: none;
  transition: all 0.2s;
  transform-origin: center;
  color: #183432;
}

a:hover{

}

a:active {
    background-color: hotpink;
}


/* end general */

/* header */

.namebox{
  width: 170px;
  height: auto;

  position: absolute;
  left: 225px;
  top: 71vh;
}

.headerNav{
  position: absolute;
  width: 100%;
  padding-top: 16px;
  z-index: 100;
}

.logo{
  width: auto;
  height: 50px;
  fill: #95272b;
}

.main-pg-logo{
  height: 62px;
}

.logobox{
  position: absolute;
  left: 100px;

  cursor: pointer;

  transition: 0.1s all linear;

  filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.1));
}

.main-pg-logobox{
  left: 225px;
  top: 23.5vh;
}

.navbox{
  position: absolute;
  right: 100px;
  width: auto;
}

.main-pg-nav{
  right: 310px;
  top: 23vh;

  width: 80px;

}


.nav-menu{
  margin-top: 4px;
  margin-left: 15px;

  width: auto;
  height: 50px;

  cursor: pointer;

  transition: 0.2s all;

  filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.1));
}

.nav-menu-1pg{
  height: 80px;
}

.clicked{
  transform: translate(2px,2px);
  opacity: .9;
}

.logobox:hover,.nav-menu:hover{
  opacity: 1;
  transform: translate(2px,2px);
}

.fixed{
  position: fixed;
}

/* end header */

/* main 1pg */
#pg1{
  display: block;
  vertical-align: middle;
}

.main-hero-img{
  position: absolute;
  width: 600px;
  height: 400px;

  top: 50vh;
  left: 50%;

  margin-left: -300px;
  margin-top: -200px;

  background-image: url("../imgs/mainpage/main_pg1_1.jpg");
  background-position: center;
  background-size: cover;
}

/* end main 1pg */

/* hover-img */
.main-hover-imgs{
  position: fixed;
  z-index: 12;

  width: 100%;
  height: 100vh
}

.hover-development{
  background-image: url("../imgs/mainpage/hover_development.png");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.hover-zoo{
  background-image: url("../imgs/mainpage/hover_zoo_02.png");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.hover-polaroid{
  background-image: url("../imgs/mainpage/hover_hong037.png");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.hover-aboutme{
  background-image: url("../imgs/mainpage/hover_aboutme.png");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}
/* end hover-img */

/* polaroid */
.img-box{
  width: 12.5%;
  height: 220px;
  position: relative;
  float: left;

  transition: 0.4s all;
}
.img-hover{
  width: 100%;
  height: 100%;
  overflow: hidden;

  transition: 0.4s all;
}
.img-polaroid{
  width: auto;
  height: 118%;
  transform: translate(-10px,-10px);
}

.img-p-1{

}
.img-p-2{

}

.img-p-4{

  transform: translate(-124px,-24px);
}

.img-p-7{
  height: 154%;
  transform: translate(-3px,-24px);
}
.img-p-12{
  transform: translate(-131px,-24px);
}

.img-p-39{
  transform: translate(-51px,-24px);
}

.img-box:hover{
  z-index: 100;

}
.img-box:hover .img-hover{
  transform: scale(1.2);
  z-index: 10;
}

/* end-polaroid */

/* development */
.development-img{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 33.33%;
  height: 100vh;
  transition: 0.3s linear all;
  top: 0px;
  cursor: pointer;
  opacity: 0.6;
}

.development-img:hover{
  opacity: 1;
}

.di1{
  left: 0px;
}
.di2{
  left: 33.33%;
}
.di3{
  left: 66.66%;
}
/* end development */


/* zoo */
.img-zoo-box{
  position: absolute;
  left: 20%;
  top: 5%;

  transform: scale(0.8);
}

.img-zoo{
  position: absolute;
  overflow: hidden;
}
.img-zoo1{
  width: 500px;
  height: 300px;

  top: 100px;
  left: 0px;
}
#img-zoo-1{
  height: 100%;
  transform: translate(-30px, 0px);
}
#img-zoo-2{
  height: 100%;
  transform: translate(-30px, 0px);
}
.img-zoo2{
  width: 300px;
  height: 400px;

  left: 520px;
  top: 0px;
}
.img-zoo3{
  width: 340px;
  height: 340px;

  left: 140px;
  top: 420px;
}
.img-zoo4{
  width: 500px;
  height: 300px;

  left: 500px;
  top: 420px;
}

/* end zoo */

/* about */
.about-page{
  padding: 120px 100px 100px 100px;
}
#body-title{
  padding-left: 14px;
}
.bodytext{
  padding-left: 40%;
  padding-right: 12%;
}
/* end about */



/*header*/


.logo1{
  position: absolute;
  width: auto;
  height: 110px;
}

.logoname{
  right: -0.5px;
}


.footers{
  text-align: right;
  position: fixed;
  left: 50%;
  margin-left: -150px;
  bottom: 0%;
  width: 300px;
  height: 30px;
  z-index: 10;
  font-size: 12px;
  color: gray;
}



/*end/*/

/*1stindex*/


  /* width: 300px; */

.section{
  position: relative;
  left: 50%;
  width: 300px;
  height: auto;
  margin-left: -150px;

  margin-bottom: 40px;
}

.intro{
  padding-bottom: 40px;
  border-bottom: solid rgba(0,0,0,0.2) 2px;
  margin-bottom: 40px;
}


.textbox0{
  margin-left: 6px;
}
.textbox1{

}


.column2{
  position: relative;
  width: 300px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.columns{
  position: relative;
  float: left;
}

@media screen and (min-width: 900px) {
  .headerNavbox{
    width: 630px;
    margin-left: -315px;
  }
  .footers{
    width: 630px;
    margin-left: -315px;
  }
  .column0{
    width: 630px;
    margin-left: -315px;
  }
  .column1{
    width: 630px;
    margin-left: -315px;
  }
  .column1Bio{
    width: 570px;
  }
  .tvmode{
    width: 630px;
    height: 420px;

  }
  #thumbnail{
    width: 630px;
    height: 420px;
  }

  .section{
    width: 630px;
    margin-left: -315px;
    margin-bottom: 60px;
  }


}
@media screen and (min-width: 1200px) {

  .footers{
    width: 990px;
    margin-left: -495px;
  }

  .column0{
    width: 990px;
    margin-left: -495px;
  }

  .column1{
    width: 990px;
    margin-left: -495px;
  }
}

@media screen and (min-width: 1800px) {
  .footers{
    width: 1480px;
    margin-left: -740px;
  }
  .column0{
    width: 1480px;
    margin-left: -740px;
  }
  .column1{
    width: 1480px;
    margin-left: -740px;
  }


}


/*end1stindex*/


/*media*/

.buttons{
  text-align: center;
  border: 1px solid white;
  border-radius: 2%;
  position: relative;
  width: 60px;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  color: white;
  font-weight: 600;
  background-color: #ffd004;
  left: 50%;
  margin-left: -30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s all;
  font-size: 0.8em;
  transform-origin: 30px 20px;

  filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.2));
}

.buttons:hover{
  transform: rotate(-3deg);
  color: #183432;

}


.playbttn{
  cursor: pointer;

}
.psbttn{
  cursor: pointer;
  display: none;
}

#linkbtn{
  color: white;
}

#linkbtn:hover{
  color: #183432;
}


::-moz-selection { /* Code for Firefox */
    /* color: red; */
    background: rgba(92,202,232,1);
}

::selection {
    /* color: red; */
    background: rgba(92,202,232,1);
}

li{
  list-style-type: none;
}

#page{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;

  background-color: #d8c2d5;
}

#page-2{
  position: relative;
  box-sizing: border-box;
  z-index: 10;

}

.home-section{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section7{
  padding-top: 20px;
  padding-bottom: 20px;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;


  display: table;
  content: " ";
}

.section-title{
  position: relative;
  text-align: left;
  padding-bottom: 20px;
  z-index: 20;
}

.section-title-more{
  color: rgba(12, 12, 23, 0.9);
  display: inline-block;
  position: relative;


  font-weight: 500;
  letter-spacing: .65em;
  margin-right: -0.65em;
  font-size: .8em;
}

.col-sm-6{
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
}

.col-sm-7{
  float: left;
  position: relative;
  min-height: 1px;
}

.full-screen{
  height: 100vh;
  width: 100%;
}


.parallax-hero{
  position: fixed;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hs-content{
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;

  text-transform: uppercase;
  color: rgba(92,202,232,1);
}
.hs-content-inner{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  padding: 0 100px;

  z-index: 5;
  font-size: 6.2em;
}

.row:before{
  display: table;
  content: " ";
}

.section-text{
  margin-bottom: 10.5px;
  font-size: 16px;

  line-height: 1.7;
}
p{
  margin: 0 0 21px;
}

.home-section.overlay:before, .home-section .overlay:before {
    opacity: .7;
}

.home-section.overlay:before, .home-section .overlay:before {
    background-color: rgba(10, 12, 23, 0.7);
    opacity: .5;
}
.overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#about-section{

}

.footer-section{
  background: black;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
}

.footer-text{
  color: white;
  display: inline-block;
  padding-bottom: 12px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1em;
  margin-right: -0.23em;
  padding: 14px 0;

}



@media screen and (min-width: 900px) {
  .container{
    width: 750px;
  }
}
@media screen and (min-width: 1200px) {
  .container{
    width: 1053px;
  }

@media screen and (min-width: 1800px) {

}
