/*general*/

body {
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;

  background-color: #d8c2d5;
}



a{
  text-decoration: none;
  transition: all 0.2s;
  transform-origin: center;
  color: #183432;
}

a:hover{

}

a:active {
    background-color: hotpink;
}


/* end general */

/* header */

.namebox{
  width: 170px;
  height: auto;

  position: absolute;
  left: 225px;
  top: 71vh;
}

.headerNav{
  position: fixed;
  width: 100%;
  padding-top: 16px;
  z-index: 100;
}

.logo{
  width: auto;
  height: 50px;
  fill: #95272b;
}

.main-pg-logo{
  height: 62px;
}

.logobox{
  position: absolute;
  left: 100px;

  cursor: pointer;

  transition: 0.1s all linear;

  filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.1));
}

.main-pg-logobox{
  left: 225px;
  top: 23.5vh;
}

.navbox{
  position: absolute;
  right: 100px;
  width: auto;
}

.main-pg-nav{
  right: 310px;
  top: 23vh;

  width: 80px;

}


.nav-menu{
  margin-top: 4px;
  margin-left: 15px;

  width: auto;
  height: 50px;

  cursor: pointer;

  transition: 0.2s all;

  filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.1));
}

.nav-menu-1pg{
  height: 80px;
}

.clicked{
  transform: translate(2px,2px);
  opacity: .9;
}

.logobox:hover,.nav-menu:hover{
  opacity: 1;
  transform: translate(2px,2px);
}

.fixed{
  position: absolute;
  top: 4680px
}

/* end header */

/* main 1pg */
#pg1{
  display: block;
  vertical-align: middle;
}

.main-hero-img{
  position: absolute;
  width: 600px;
  height: 400px;

  top: 50vh;
  left: 50%;

  margin-left: -300px;
  margin-top: -200px;

  background-image: url("../imgs/mainpage/main_pg1_1.jpg");
  background-position: center;
  background-size: cover;
}

/* end main 1pg */

/* main 2pg */
.container{

}
.main-pg2-img{
  width: auto;
  height: 600px;
  position: relative;
  left: 50%;

  display: table;

  margin-bottom: 8vh;
}

.m-pg2-img-1{
  margin-left: -300px;
}
.m-pg2-img-2{
  margin-left: -400px;
}
.m-pg2-img-3{
  margin-left: -225px;
}
/* end main 2pg */

/* hover-img */
.main-hover-imgs{
  position: fixed;
  z-index: 12;

  width: 100%;
  height: 100vh
}

.hover-development{
  background-image: url("../imgs/mainpage/hover_development.png");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.hover-zoo{
  background-image: url("../imgs/mainpage/hover_zoo_02.png");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.hover-polaroid{
  background-image: url("../imgs/mainpage/hover_hong037.png");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.hover-aboutme{
  background-image: url("../imgs/mainpage/hover_aboutme.png");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}
/* end hover-img */

/* polaroid */
.img-box{
  width: 12.5%;
  height: 220px;
  position: relative;
  float: left;

  transition: 0.4s all;
}
.img-hover{
  width: 100%;
  height: 100%;
  overflow: hidden;

  transition: 0.4s all;
}
.img-polaroid{
  width: auto;
  height: 118%;
  transform: translate(-10px,-10px);
}

.img-p-1{

}
.img-p-2{

}

.img-p-4{

  transform: translate(-124px,-24px);
}

.img-p-7{
  height: 154%;
  transform: translate(-3px,-24px);
}
.img-p-12{
  transform: translate(-131px,-24px);
}

.img-p-39{
  transform: translate(-51px,-24px);
}

.img-box:hover{
  z-index: 100;

}
.img-box:hover .img-hover{
  transform: scale(1.2);
  z-index: 10;
}

/* end-polaroid */

/* development */
.development-img{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 33.33%;
  height: 100vh;
  transition: 1s all;
  top: 0px;
  cursor: pointer;

  opacity: 0.9;
  overflow: hidden;
}

.development-img:hover{
  opacity: 1;

}

.di1{
  left: 0px;
}


.di2{
  left: 33.33%;
}
.di3{
  left: 66.66%;
}
.di-img-1{
  position: relative;
  float: left;
  height: 100vh;

  margin-right: 20px;

  transition: 1s all;
}
.di-img-3{
  position: relative;
  height: 100vh;
  margin-left: -420px;
  transition: 1s all;
}
/* end development */


/* zoo */
.img-zoo-box{
  position: relative;
  left: 100px;
  top: 15vh;

  width: 1080px;
  height: 520px;


  overflow: scroll;
}

.img-zoo-box-inside{
  position: relative;

  width: 30130px;
  height: 520px;

}
.img-zoo{
  position: relative;
  float: left;
  height: 100%;
  margin: 0;
}


/* end zoo */

/* about */
.about-page{
  padding: 120px 100px 100px 100px;
}

#body-title{
  color: #93272d;
  padding-left: 16px;
}

.bodytext{
  color: #93272d;
  padding-left: 40%;
  padding-right: 12%;
}
/* end about */



/*header*/


/*end/*/

/*1stindex*/

/*end1stindex*/


/*media*/


li{
  list-style-type: none;
}

#page{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;

  padding: 0;
}

#page-2{
  position: relative;
  box-sizing: border-box;
  z-index: 10;
}

.col-sm-6{
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
}

.col-sm-7{
  float: left;
  position: relative;
  min-height: 1px;
}

.full-screen{
  height: 100vh;
  width: 100%;
}

.col-sm-40{
  width: 40%;
  position: relative;

  float: left;
}
.col-sm-60{
  width: 60%;
  position: relative;

  float: left;
}

/* contact */

#contact-section{
  height: 540px;

  background-color: white;
}

.fish-img{
  transform-origin: top middle;
  padding-left:120px;
  height: 540px;
}
.copyright{
  margin-top: 130px;
  width: 620px;

}

/* end contact */

.footer{

}




@media screen and (min-width: 900px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1800px) {

}
