/*general*/

body {
  font-family: 'Roboto', sans-serif;
  color: black;

  margin: 0px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}



a{
  text-decoration: none;
  transition: all 0.2s;
  transform-origin: center;
  color: #183432;
}

a:hover{

}

a:active {
    background-color: hotpink;
}


h1{
  font-weight: 700;
  font-size: 1.4em;

  margin: 0;
  margin-top: 2px;
}



h2{
  font-style: italic;
  font-weight: 400;
  font-size: 0.8em;
  text-transform: uppercase;

  letter-spacing: 0.03em;
  margin: 0;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 2px;
  line-height: 20px;
  text-transform: uppercase;
}

h4 {
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  margin-top: -10px;
  margin-bottom: 40px;
}

h5 {
  font-style: italic;
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 0px;
  margin-bottom: 30px;
}
h6 {
  margin: 0;
  font-weight: 600;
  font-size: 3.6em;
  text-transform: uppercase;
  letter-spacing: .12em;
}

/* end general */

::-moz-selection { /* Code for Firefox */
    /* color: red; */
    background: rgba(92,202,232,1);
}

::selection {
    /* color: red; */
    background: rgba(92,202,232,1);
}

li{
  list-style-type: none;
}

#page{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;

  background: #00c8aa;
}

#page-2{
  position: relative;
  overflow-x: hidden;
  width: 100%;

  box-sizing: border-box;
  z-index: 10;

  background-color: white;

}

.home-section{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-color: rgba(92,202,232,1);
}

#bttn-project{
  text-decoration: underline;
  cursor: pointer;
}
#bttn-project:hover{
  background-color: rgba(92,202,232,1);
  color: black;
}

.section6{
  padding-top: 120px;
  padding-bottom: 120px;
}

.section7{
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-section{

}

.portfolio-filters{
  text-align: center;
  display: inline-block;
  margin-bottom: 40px;
}

.portfolio-box{
  position: relative;
  height: auto;
  padding: 0;
  display: table;
  content: " ";
}

.portfolio-item{
  float: left;
  margin: 20px;
}

.portfolio-item-img{
  position: relative;
  transition: 0.3s;
}


.portfolio-item-img:hover{

  filter: drop-shadow(8px 8px 0px rgba(92,202,232,1)) drop-shadow(-8px -8px 0px rgba(92,202,232,1));
  z-index: 10;
}

.portfolio-item-img:hover .img-hover{
  opacity: 1;
}

img.img-hover {
  backface-visibility: hidden;
  position: absolute;
  opacity: 0;
}



.portfolio-item-img:after{

}


.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;


  display: table;
  content: " ";
}

.section-title{
  position: relative;
  text-align: left;
  padding-bottom: 20px;
  z-index: 20;
}

.section-title-more{
  color: rgba(12, 12, 23, 0.9);
  display: inline-block;
  position: relative;


  font-weight: 500;
  letter-spacing: .65em;
  margin-right: -0.65em;
  font-size: .8em;
}

.col-sm-6{
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
}

.col-sm-7{
  float: left;
  position: relative;
  min-height: 1px;
}

.full-screen{
  height: 100vh;
  width: 100%;
}


.parallax-hero{
  position: fixed;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-image{
  background-color: black;
  /* background-image: url(../imgs/bg2.jpg); */
}

.hs-content{
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;

  text-transform: uppercase;
  color: rgba(92,202,232,1);
}
.hs-content-inner{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  padding: 0 100px;

  z-index: 5;
  font-size: 6.2em;
}

.row:before{
  display: table;
  content: " ";
}

.section-text{
  margin-bottom: 10.5px;
  font-size: 16px;

  line-height: 1.7;
}
p{
  margin: 0 0 21px;
}

.home-section.overlay:before, .home-section .overlay:before {
    opacity: .7;
}

.home-section.overlay:before, .home-section .overlay:before {
    background-color: rgba(10, 12, 23, 0.7);
    opacity: .5;
}
.overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
:before,:after{
      box-sizing: border-box;
}

#about-section{
  background-color: rgba(92,202,232,1);
}

.footer-section{
  background: black;
  overflow-x: hidden;
  text-align: center;
}

.footer-text{
  color: white;
  display: inline-block;
  padding-bottom: 12px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1em;
  margin-right: -0.23em;
  padding: 14px 0;

}



@media screen and (min-width: 900px) {
  .container{
    width: 750px;
  }
}
@media screen and (min-width: 1200px) {
  .container{
    width: 1053px;
  }

@media screen and (min-width: 1800px) {

}
